/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  margin: 0;
  padding-bottom: 20px
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


input:focus {
  border-color: #c1c1c1;
}


/* ================================= 
  Page Components
==================================== */

.main-title {
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.page-item.disabled .page-link {
  background-color: none !important;
}
.page-link, .page-item {
  border: 0;
  background-color: none;
  background: none;
}

.badge {
  border-radius: 0;
}

.search-form input {
  width: 100%;
  margin: 10px 0;
  height: 60px;
  line-height: 60px;
  border: 0px solid;
  font-size: 22px;
  font-weight: 200
}

textarea:focus, input:focus{
  outline: none;
}

.no-entries  {
  color: #7bcbc4;
  text-align: center;
  font-size: 1.25em;
}

.entry-list a {
  display: block;
  margin: auto;
}

.entry-wrap {
  background-color: #fff;
  margin-bottom: .8em;
  position: relative;
}

.entry-wrap img {
  min-width: 100%;
}

/* ================================= 
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 85%;
  margin: auto;
}

.main-header {
  width: 100%;
  background: #fff;
  min-height: 80px;
  z-index: 700;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 30px
}

.main-content::after {
  content: " ";
  display: table;
  clear: both;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
  .entry-list li {
    text-align: center;
    margin: 20px;
    font-size: 0;
  }
}

@media (min-width: 550px) {
  .entry-list li {
    float: left;
    width: 50%;
    margin: 0;
  }
  .entry-wrap img {
    height: 235px;
  }

  .entry-wrap {
    border: 1px solid white;
    padding: 0;
    overflow: hidden;
    font-size: 0;
  }
}

.jumbotron {
  background: #F9F9F9;
  padding: 5px
}

.jumbotron button {
  margin-right: 10px
}

.moment {
  margin-top: 5px;
  font-size: 14px;
  color: #777
}

.url {
  color: darkgreen
}

.entry-box  {
  margin-bottom: 50px;
}

.body {
  word-wrap: break-word;
  font-size: 14px
}

@media (min-width: 769px) {

  .main-title {
    float: left;
  }
  .search-form {
    width: 100%;
  }
  .entry-list li {
    width: 33.333333333%;
  }
}

@media (min-width: 769px) { 
  .entry-list li:nth-of-type(3n+1) {
    clear: left;
  }
}