/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: gray;
  margin: 0;
  background: #fcfcfc;
  padding-bottom: 20px;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0056b3;
  font-weight: 500;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


input:focus {
  border-color: #c1c1c1;
}


/* ================================= 
  Page Components
==================================== */


.btn {
  border-radius: 0;
}

.btn-action {
  font-size: 12px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 1px 4px
}

.badge-tag {
  background: #aaaaaa;
  color: #fff;
  border-radius: 2px
}

.main-author {
  padding-top: 45px
}

.fa-smile {
  color: green
}

.fa-frown {
  color: red
}

.fa-meh {
  color: gray
}

.main-author a {
  color: #007bff
}

.main-info .jumbotron{
  width: 90%;
  margin: 0 5%;
  background: #fcfcfc;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
}

.main-footer {
  width: 100%;
  min-height: 40px;
}

.btn-group button a {
  color: #ffffff
}

.date {
  color: #777
}

.page-item.disabled .page-link {
  background-color: none !important;
}
.page-link, .page-item {
  color: #6c757d;
  border-radius: 0;
}

.search-form input {
  width: 100%;
  margin: 10px 0;
  height: 60px;
  line-height: 40px;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  font-size: 22px;
  font-weight: 200;
  padding: 15px;
  color: gray;
}

textarea:focus, input:focus{
  outline: none;
}

.no-entries  {
  color: #7bcbc4;
  text-align: center;
  font-size: 1.25em;
}

.entry-list a {

  margin: auto;
}

.entry-wrap {
  background-color: #fff;
  margin-bottom: .8em;
  position: relative;
}

.entry-wrap img {
  min-width: 100%;
}

/* ================================= 
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 90%;
  margin: 0 5%;
}

.main-header {
  width: 100%;
  min-height: 184px;
  z-index: 700;
  padding-top: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc
}

.main-content::after {
  content: " ";
  display: table;
  clear: both;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.jumbotron {
  padding: 0px;
  margin: 0;
  background: #fcfcfc;
}

.jumbotron button {
  margin-right: 5px
}

.actions {
  margin-top: 10px;
}

.actions a {
  margin-right: 5px
}

.url {
  color: darkgreen
}

.entry-box  {
  margin-bottom: 50px;
}

.entry-box-head a {
  font-size: 1em;
}

.entry-box-head {
  display: inline-block;
}

.entry-box-head span.feed-rank {
  padding: 4px 8px;
  color: #ffffff;
  border-radius: 1px;
  background: #ffc107;
  font-size: 0.9em
}

.entry-box-head span.url{
  display: block;
}

.entry-tags span {
  margin-right: 5px
}

.body {
  word-wrap: break-word;
  font-size: 15px;
  text-align: justify;
  color: rgba(0,0,0,.65)
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
  .entry-list li {
    text-align: center;
    margin: 20px;
    font-size: 0;
  }
  .inner,.main-content {
    width: 90%;
    margin: auto
  }

  .main-info .jumbotron {
    width: 90%;
    margin: auto
  }
}

@media (min-width: 550px) {
  .entry-list li {
    float: left;
    width: 50%;
    margin: 0;
  }
  .entry-wrap img {
    height: 235px;
  }

  .entry-wrap {
    border: 1px solid white;
    padding: 0;
    overflow: hidden;
    font-size: 0;
  }
}

@media (min-width: 769px) {
  .search-form {
    width: 100%;
  }
  .entry-list li {
    width: 33.333333333%;
  } 
  .entry-list li:nth-of-type(3n+1) {
    clear: left;
  }
}