/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  margin: 0;
  background: #fff;
  padding-bottom: 20px
}


a {
  text-decoration: none;
  cursor: pointer;
  color: #17a2b8
}

.btn {
  border-radius: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


input:focus {
  border-color: #c1c1c1;
}


/* ================================= 
  Page Components
==================================== */

.main-author a {
  color: lightcoral
}

.main-info .jumbotron{
  width: 80%;
  margin: auto;
  background: #ffffff;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;  
}

.main-footer {
  width: 100%;
  min-height: 40px;
}

.no-padding-top {
  padding: 0 5px 0 0;
}

.main-footer .jumbotron {
  border: 3px solid #17a2b8
}

.page-item.disabled .page-link {
  background-color: none !important;
}
.page-link, .page-item {
  border: 0;
  background-color: none;
  background: none;
}

.badge {
  border-radius: 0;
}

.search-form input {
  width: 100%;
  margin: 10px 0;
  height: 60px;
  line-height: 40px;
  border: 3px solid #17a2b8;
  border-radius: 2px;
  font-size: 22px;
  font-weight: 200;
  padding: 15px;
}

textarea:focus, input:focus{
  outline: none;
}

.no-entries  {
  color: #7bcbc4;
  text-align: center;
  font-size: 1.25em;
}

.entry-list a {
  display: block;
  margin: auto;
}

.entry-wrap {
  background-color: #fff;
  margin-bottom: .8em;
  position: relative;
}

.entry-wrap img {
  min-width: 100%;
}

/* ================================= 
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 80%;
  margin: auto;
}

.main-header {
  width: 100%;
  min-height: 150px;
  z-index: 700;
  padding-top: 15px;
  margin-bottom: 30px;
  background: #ffffff;
  border-bottom: 3px solid #17a2b8
}

.main-content::after {
  content: " ";
  display: table;
  clear: both;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
  .entry-list li {
    text-align: center;
    margin: 20px;
    font-size: 0;
  }
}

@media (min-width: 550px) {
  .entry-list li {
    float: left;
    width: 50%;
    margin: 0;
  }
  .entry-wrap img {
    height: 235px;
  }

  .entry-wrap {
    border: 1px solid white;
    padding: 0;
    overflow: hidden;
    font-size: 0;
  }
}

.jumbotron {
  padding: 0px;
  background: #fff;
}



.jumbotron button {
  margin-right: 5px
}

.information {
  margin-top: 5px;
}

.url {
  color: darkgreen
}

.entry-box  {
  margin-bottom: 50px;
}

.body {
  word-wrap: break-word;
  font-size: 14px;

}

@media (min-width: 769px) {
  .search-form {
    width: 100%;
  }
  .entry-list li {
    width: 33.333333333%;
  }
}

@media (min-width: 769px) { 
  .entry-list li:nth-of-type(3n+1) {
    clear: left;
  }
}